# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root@localhost:3306/cyperapp?schema=public"
#DATABASE_URL="mysql://insightzdeskappU:fahS6leu0eg8AibeeMoopaLosh@172.16.100.172:3306/insightzdeskDB?schema=public"
PORT=5000
JWT_SECRET=20a74991e5470fd76951e1edea69b62b42dc782570a75fa79d22baebba97f8cb7709127c2d6becb44e6171f776ab153a249df47bf8f919cbe6273f0293c6a5e0
  


SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_USER=ticketing@insightz.tech
SMTP_PASS=X.769942641639aj
EMAIL_FROM=ticketing@insightz.tech
EMAIL_TO=sales@insightz.tech
NEXT_PUBLIC_BASE_URL_FRONTEND=https://servicedesk.insightzmss.com/